body {
    font-family: 'Arial', sans-serif;
}

.navbar-brand img {
    height: 2rem;
}

.card {
    margin-bottom: 1.5rem;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.card-text {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.price {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

footer {
    background-color: #343a40;
    color: white;
    padding: 2rem 0;
}

footer a {
    color: white;
    text-decoration: none;
}

.large-img {
    height: 15rem
}

#feedback {
    text-align: center
}

#logo {
    height: 8rem;
}
